{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white">
                <h4>Email Confirmation</h4>
            </div>
            <div class="card-body">
                <p>Thank you for registering. A confirmation email has been sent to your email address. Please follow the instructions in the email to complete your registration.</p>
                <p>If you don't see the email, please check your spam folder.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
